body {
    height: 100vh;
    width:100vw;
    margin: 0;
}
.box-container {
    display: flex;
    flex-direction: row;
    align-items: top;
    height: 100vh;
    width: 100vw;
    font-family: Tahoma, serif;
    font-size: 40px;
}
.box {
    height: 150px;
    width: 100px;
    border-left-style: dotted;
    border-left-color: #D0D0FF;
    border-left-width: 10px;
    text-align: left;
    text-indent: 10px;
    background-color: #eeeff2;
    margin-right: 10px;
}
.box:hover {
    cursor:grab;
    background-color: yellow;
    color: goldenrod;
}
.box:nth-last-child(1) {
    position:absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    margin-bottom: 0px;
}
