body{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
height: 100vh;
width: 100vw;
font-family: Tahoma, serif;
font-size: 40px;

}
.box{
flex-grow: 0;
flex-shrink: 0;
flex-basis: 100px;
height: 100px;
width: 100px;
border-top: 1px solid #687291;
text-align: center;
font-family: Tahoma;
font-size: 40px;
}
.box:nth-child(odd) {
  background-color: #dfe1e7;
}

.box:nth-child(even) {
  background-color: #eeeff2; 
}
.box:nth-last-child(1) {
  background-color: #687291;
  border: 4px solid black;  
  justify-content: center;
}