body{
    height: 100%;
    width: 100%;
    margin: 0;
}
.box-container{
display: flex;
flex-direction: column;   /*Stock boxes vertically*/
align-items: center;      /*Center boxes horizontally*/
justify-content: space-between;
height: 100vh;
width: 100vw;
font-family: Tahoma, serif;
font-size: 40px;

}
.box{
flex-grow: 0;
flex-shrink: 0;
flex-basis: 100px;
height: 100px;
width: 100px;
border-top: 1px solid #687291;
text-align: center;
font-family: Tahoma;
font-size: 40px;
}
.box:nth-child(odd) {
  background-color: #dfe1e7;
  animation-name: slide-in, fadeInOut;
  animation-duration: 3s, 2.5s;
  
}

.box:nth-child(even) {
  background-color: #eeeff2; 
}
.box:nth-last-child(1) {
    display: flex;
    flex-direction: column;
  background-color: #687291;
  border: 4px solid black;  
  justify-content: center;
}


@keyframes slide-in {
  from {
    translate: 150vw 0;   /* start off-screen to the right*/
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

@keyframes fadeInOut {
  100% { opacity: 1; }   
  50% { opacity: 0; } 
  0% { opacity: 0; } 
     
}
